*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
.container {
    width: 85%;
    margin: 0 auto;
}
body {
    background-color: #050706;
}
#nav-bar {
    margin-bottom: 100px;
    padding: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
ul li {
    gap: 50px;
    margin-right: 30px;
    list-style: none;
}
ul li a {
    text-decoration: none;

}

/* responsive desing  */
@media screen and (min-width:577px) and (max-width:992px) {
    .container {
    width: 94%;
    margin: 0 auto;
}
}
@media screen and (max-width:576px) {
    .container {
    width: 98%;
    margin: 0 auto;
}
    #nav-bar , ul {
        flex-direction: column;
    }
    ul li {
        margin-bottom: 20px;
        text-align: center;
    }
}